*{
    letter-spacing: 0.4px;
    line-height: 25px;
}
.breadcrumb{
    background-color: #298f8e;
}
.breadcrumb h1{
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 22px 0px;
    text-transform: uppercase;
}
.formstyles{
    box-shadow: 3px 4px 5px 2px #ddd;
    padding: 20px 30px;
}
.formstyles a{
    text-decoration: none;
    padding-left: 5px;
}
.adminsidebar ul li{
    margin-bottom: 15px;
    list-style: none;
}
.adminsidebar ul li a{
    font-weight: 500;
    color: #dc3545;
    text-decoration: none;
}
.formstyles textarea{
    height: 120px;
}
